#about{
    color: var(--color13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    align-items: center;
    font-size: 1.3rem;
    height: 100%;
    gap: 2rem;
  }
  .leftTitle{
    width: 100%;
    padding: 25px;
    color: var(--color31);
  }

  .leftTitle h1{
    width: 50%;
    margin: 0 auto;
  }
  
  .columns{
    width: 100%;
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin: 0 auto;
  }
  
  .foto{
    width: 10rem;
    object-fit: cover;
    border-radius: 100px;
    border: solid var(--color35);
  }
  
  .data{
    height: 2rem;
  }
  .actitudes{
    text-align: left;
  }
  
  .skillsTitle{
    font-size: 1rem;
    margin: 0 auto;
    padding: 20px;
    color: var(--color31);
    width: 100%;
  }
  
  
  .technologys:hover{
    transform: scale(1.3);
  }
  
  @media (max-width: 680px) {
    .columns{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap:1px
    }
    .actitudes, .fotoData{
      margin: 0 auto;
      padding: 0;
    }


    #about, .skillsTitle{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 0 auto;
    }
    
    .leftTitle{
      margin-bottom: 10px;
      text-align: center;
      margin: 0 auto;
    }
    
    #about{
      font-size: 1.3rem;
    }
  }

  @media (max-width: 450px) {
    .columns{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
    .actitudes, .fotoData{
      margin: 0 auto;
      padding: 0;
    }


    #about, .skillsTitle{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      margin: 0 auto;
    }
    
    .leftTitle{
      margin-bottom: 10px;
      text-align: center;
      margin: 0 auto;
    }
    
    #about{
      font-size: 1rem;
    }
  
}




