.proyects{
  color: var(--color13);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.proyectsGrid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, minmax(35%, 1fr)); /* 3 columnas de igual tamaño */
  grid-template-rows: repeat(1, 1fr); /* 3 filas de igual tamaño */
  grid-gap: 3rem;
  /* espacio entre cada elemento */
  margin: 0 auto;
}

#proyectsTitle{
  color: var(--color31);
  padding: 50px;
}

#ingTitle{
  color: var(--color31);
  padding: 50px;
}

.card{
  width: 90%;
  color: var(--color1);   
  padding: 30px;
}

@media(max-width:650px){
  #proyectsTitle{
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
  }
  .proyectsGrid{
    width: 100%;
    grid-template-columns: repeat(1, minmax(140px, 1fr)); /* 3 columnas de igual tamaño */
    grid-template-rows: repeat(1, 1fr); 
  }
  .card{
    width: 90%;
    padding: 30px;
  }
  .proyects{
    height: auto;
  }

}
@media (max-width:400px){
  .proyectsTitle{
    font-size: 1.7rem;
  }
  .ingTitle{
    font-size: 1.5rem;
  }
  .card{
    gap: 1rem;
}
}
@media(max-width:250px){

  .proyects{
    height: auto;
  }

  #ingTitle{
    font-size: 1rem;
    margin: 0 auto;
  }
  .description{
    text-align: center;
  }
}